*{
    border :solid 1px red;
    margin: 2px;
    padding: 3px;
}
h1 {
    /*margin-left: 120px;*/ 
    /* margin top right bottom left*/
    margin: 10px 20px 30px 40px;
    background-color: rgb(255, 0, 0);
    color: tomato;
    */padding: 5px 5px 5px;
    height: 10px;
    width: 10px;
}

h2 {
    background-color: coral;
    color: deeppink;
}
#navigation li{
    display: inline; color: blueviolet
    }

h3 {
    background-color: lightpink;
    color: violet;
}
.tomatify{
    color:brown
}
.Backcolor{
    background-color: crimson
}
.lastone{
    background-color:darkolivegreen
}
.fun{
    border-left-color: blueviolet
}
#content{
    background-color: cornsilk


    }

    .container{
        width: 90px;   
        margin: 0 auto;
    }
    .centeredlr{
        margin: 0 auto;
    }
    #lastone2{
        background-color: hotpink;
    }
}                                                                                          